Задание 1:

Создайте базу данных library.db и таблицу books с полями:

id (PRIMARY KEY, AUTOINCREMENT),
title (TEXT, NOT NULL),
author (TEXT, NOT NULL),
year_published (INTEGER),
genre (TEXT).

In [4]:
import sqlite3

con= sqlite3.connect('library.db')
cursor=con.cursor()

create_table_query='''
CREATE TABLE IF NOT EXISTS books (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    title TEXT NOT NULL,
    author TEXT NOT NULL,
    year_published INTEGER,
    genre TEXT

);
'''

cursor.execute(create_table_query)

con.commit()

con.close()

Задание 2:

Добавьте в таблицу books следующие записи:

"The Great Gatsby", автор: F. Scott Fitzgerald, год: 1925, жанр: Fiction.
"1984", автор: George Orwell, год: 1949, жанр: Dystopian.
"To Kill a Mockingbird", автор: Harper Lee, год: 1960, жанр: Classic.

In [5]:
import sqlite3

con=sqlite3.connect('library.db')

cursor=con.cursor()

insert_query='''
INSERT INTO books (title,  author, year_published, genre)
VALUES (?, ?, ?, ?);
'''

users_data = [
    ('The Great Gatsby', 'F. Scott Fitzgerald', 1925, 'Fiction'),
    ('1984', 'George Orwell', 1949, 'Dystopian'),
    ('To Kill a Mockingbird', 'Harper Lee', 1960, 'Classic')
]

cursor.executemany(insert_query, users_data)

con.commit()

con.close()

Задание 3:

Выборка всех данных
Напишите запрос, который выбирает все книги из таблицы books.

In [ ]:
import sqlite3

con=sqlite3.connect('library.db')
cursor=con.cursor()

select_query='''
SELECT title FROM books;
'''

cursor.execute(select_query)

rows=cursor.fetchall()

for row in rows:
    print(row)
con.commit()

con.close()

('The Great Gatsby',)
('1984',)
('To Kill a Mockingbird',)

Задание 4:

Фильтрация данных
Выберите все книги, опубликованные после 1950 года.

In [ ]:
import sqlite3

con=sqlite3.connect('library.db')
cursor=con.cursor()

select_query='''
SELECT *FROM books WHERE year_published > ?;
'''

year_limit=1950
cursor.execute(select_query, (year_limit,))

rows=cursor.fetchall()

for row in rows:
    print(row)

con.commit()
con.close()

(3, 'To Kill a Mockingbird', 'Harper Lee', 1960, 'Classic')

Задание 5:

Использование оператора LIKE
Найдите все книги, название которых начинается с буквы "T".

In [ ]:
import sqlite3

con = sqlite3.connect('library.db')
cursor = con.cursor()

select_query = '''
SELECT * FROM books WHERE title LIKE ?;
'''

letter = "T%"
cursor.execute(select_query, (letter,))

rows = cursor.fetchall()

for row in rows:
    print(row)
con.commit()
con.close()

(1, 'The Great Gatsby', 'F. Scott Fitzgerald', 1925, 'Fiction')
(3, 'To Kill a Mockingbird', 'Harper Lee', 1960, 'Classic')

Задание 6

Сортировка данных
Отсортируйте книги по году публикации в порядке возрастания.

In [ ]:
import sqlite3

con = sqlite3.connect('library.db')
cursor = con.cursor()

select_query = '''
SELECT * FROM books ORDER BY year_published ASC;
'''

cursor.execute(select_query)

rows = cursor.fetchall()

for row in rows:
    print(row)
con.commit()
con.close()

(1, 'The Great Gatsby', 'F. Scott Fitzgerald', 1925, 'Fiction')
(2, '1984', 'George Orwell', 1949, 'Dystopian')
(3, 'To Kill a Mockingbird', 'Harper Lee', 1960, 'Classic')

Задание 7

 Ограничение количества строк
Выберите первые две книги из таблицы books, отсортированные по названию.

In [ ]:
import sqlite3
con = sqlite3.connect('library.db')

cursor=con.cursor()

select_query='''
SELECT *FROM books ORDER BY title LIMIT 2;
'''

cursor.execute(select_query)

rows=cursor.fetchall()

for row in rows:
    print(row)
con.commit()
con.close()

(2, '1984', 'George Orwell', 1949, 'Dystopian')
(1, 'The Great Gatsby', 'F. Scott Fitzgerald', 1925, 'Fiction')

Задание 8

 Агрегатные функции
Подсчитайте общее количество книг в таблице books.

In [ ]:
import sqlite3
import os

db_file = 'library.db'

if os.path.exists(db_file):
    print("База данных существует!")

    con = sqlite3.connect(db_file)
    cursor = con.cursor()

    select_query = '''
    SELECT COUNT(*) AS total_books FROM books;
    '''

    cursor.execute(select_query)
    res = cursor.fetchone()

    print(f"Количество книг  {res[0]}")
    con.commit()
    con.close()
else:
    print("База данных не существует.")

База данных существует!
Количество книг  3

Задани 9

Группировка данных
Подсчитайте количество книг для каждого жанра.

In [ ]:
import sqlite3
import os

db_file = 'library.db'

if os.path.exists(db_file):
    print("База данных существует!")

    con = sqlite3.connect(db_file)
    cursor = con.cursor()

    select_query = '''
    SELECT genre, COUNT(*) AS book_count 
    FROM books 
    GROUP BY genre;
    '''

    cursor.execute(select_query)
    rows = cursor.fetchall()

    for i in rows:
        print(f"Жанр: {i[0]}, Количество книг: {i[1]}")
    con.commit()
    con.close()
else:
    print("База данных не существует.")

База данных существует!
Жанр: Classic, Количество книг: 1
Жанр: Dystopian, Количество книг: 1
Жанр: Fiction, Количество книг: 1

Задание 10
Обновление данных
Обновите год публикации книги "1984" на 1948.

In [30]:
import sqlite3
import os

db_file = 'library.db'

if os.path.exists(db_file):
    print("База данных существует!")

    con = sqlite3.connect(db_file)
    cursor = con.cursor()

    update_query = '''
    UPDATE books SET year_published = ? WHERE title = ?;
    '''

    year = 1948
    title = "1984"
    cursor.execute(update_query, (year, title))

    con.commit()
    print(f"Год публикации книги '{title}' обновлен на {year}")

    con.close()
else:
    print("База данных не существует.")

База данных существует!
Год публикации книги '1984' обновлен на 1948

Задани 11

Удаление данных
Удалите книгу с названием "The Great Gatsby".

In [27]:
import sqlite3
import os

db_file = 'library.db'

if os.path.exists(db_file):
    print("База данных существует!")

    con = sqlite3.connect(db_file)
    cursor = con.cursor()

    delete_query = '''
    DELETE FROM books WHERE title = ?;
    '''

    title = "The Great Gatsby"
    cursor.execute(delete_query, (title,))

    con.commit()
    print(f"Книга '{title}' удалена")

    con.close()
else:
    print("База данных не существует.")

База данных существует!
Книга 'The Great Gatsby' удалена

Задание 12

Создание индекса
Создайте индекс для столбца author в таблице books.

In [31]:
import sqlite3
import os

db_file = 'library.db'

if os.path.exists(db_file):
    print("База данных существует!")

    con = sqlite3.connect(db_file)
    cursor = con.cursor()

    create_index_query = '''
    CREATE INDEX IF NOT EXISTS idx_author ON books(author);
    '''

    cursor.execute(create_index_query)
    con.commit()
    print("Индекс для столбца author создан")

    con.close()
else:
    print("База данных не существует.")

База данных существует!
Индекс для столбца author создан

Задание 13
Проверка существования индекса: Проверьте, существует ли индекс для столбца author

In [ ]:
import sqlite3
import os

db_file = 'library.db'

if os.path.exists(db_file):
    print("База данных существует!")

    con = sqlite3.connect(db_file)
    cursor = con.cursor()
        
    check_index_query = '''
    SELECT name FROM sqlite_master 
    WHERE type = 'index' AND tbl_name = 'books' AND name = 'idx_author';
    '''

    cursor.execute(check_index_query)
    index_exists = cursor.fetchone()

    if index_exists:
        print("Индекс idx_author существует")
    else:
        print("Индекс idx_author не существует")
    con.commit()
    con.close()
else:
    print("База данных не существует.")

База данных существует!
Индекс idx_author существует

Задание 14

Триггер для логирования: Создайте триггер, который записывает изменения в таблицу logs при добавлении новой книги

In [33]:
import sqlite3
import os

db_file = 'library.db'

if os.path.exists(db_file):
    print("База данных существует!")

    con = sqlite3.connect(db_file)
    cursor = con.cursor()

    cursor.execute('''
    CREATE TABLE IF NOT EXISTS logs (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        action TEXT,
        book_title TEXT
    );
    ''')

    cursor.execute('''
    CREATE TRIGGER IF NOT EXISTS log_book_insert
    AFTER INSERT ON books
    FOR EACH ROW
    BEGIN
        INSERT INTO logs (action, book_title)
        VALUES ('Добавлена книга', NEW.title);
    END;
    ''')

    con.commit()
    print("Триггер создан")

    con.close()
else:
    print("База данных не существует.")

База данных существует!
Триггер создан

Задание 15
Транзакции: Программа с добавлением книги, обновлением года и откатом при ошибке

In [36]:
import sqlite3
import os

db_file = 'library.db'

if os.path.exists(db_file):
    print("База данных существует!")

    con = sqlite3.connect(db_file)
    cursor = con.cursor()

    try:
        con.execute('BEGIN TRANSACTION;')

        
        insert_query = '''
        INSERT INTO books (title, author, year_published ) VALUES (?, ?, ?);
        '''
        cursor.execute(insert_query, ('New Book', 'New Author', 2025))

        update_query = '''
        UPDATE books SET year_published = ? WHERE title = ?;
        '''
        cursor.execute(update_query, (1948, '1984'))
        con.commit()
        print("Транзакция успешно завершена")

    except Exception as e:
        con.rollback()
        print(f"Ошибка: {e}. Транзакция отменена")

    finally:
        con.close()
else:
    print("База данных не существует.")

База данных существует!
Транзакция успешно завершена

Задание 16
Пользовательская функция: Вычисление возраста книги и использование в SQL-запросе

In [ ]:
import sqlite3
import os
from datetime import datetime

db_file = 'library.db'

def book_age(year):
    return datetime.now().year - year

if os.path.exists(db_file):
    print("База данных существует!")

    con = sqlite3.connect(db_file)
    con.create_function('book_age', 1, book_age)
    cursor = con.cursor()

    cursor.execute('''
    SELECT title, year_published, book_age(year_published) AS age
    FROM books;
    ''')

    rows = cursor.fetchall()
    for i in rows:
        print(f"Книга: {i[0]}, Год: {i[1]}, Возраст: {i[2]}")
    con.commit()
    con.close()
else:
    print("База данных не существует.")

База данных существует!
Книга: 1984, Год: 1948, Возраст: 77
Книга: To Kill a Mockingbird, Год: 1960, Возраст: 65
Книга: New Book, Год: 2025, Возраст: 0

Задача 17

Представления: Создайте представление modern_books для книг после 1950 года

In [45]:
import sqlite3
import os

db_file = 'library.db'

if os.path.exists(db_file):
    print("База данных существует!")

    con = sqlite3.connect(db_file)
    cursor = con.cursor()

    create_view_query = '''
    CREATE VIEW IF NOT EXISTS modern_books AS
    SELECT * FROM books WHERE year_published > 1950;
    '''

    cursor.execute(create_view_query)
    con.commit()
    print("Представление modern_books создано")

    
    cursor.execute('SELECT * FROM modern_books;')
    rows = cursor.fetchall()

    for i in rows:
        print(i)

    con.close()
else:
    print("База данных не существует.")

База данных существует!
Представление modern_books создано

OperationalError: no such column: year

Задание 18
Удаление таблицы: Удалите таблицу books и проверьте её существование

In [ ]:
import sqlite3
import os

db_file = 'library.db'

if os.path.exists(db_file):
    print("База данных существует!")

    con = sqlite3.connect(db_file)
    cursor = con.cursor()

    
    drop_table_query = '''
    DROP TABLE IF EXISTS books;
    '''

    cursor.execute(drop_table_query)
    con.commit()
    print("Таблица books удалена")

    cursor.execute('''
    SELECT name FROM sqlite_master WHERE type='table' AND name='books';
    ''')
    table_exists = cursor.fetchone()

    if table_exists:
        print("Таблица books все еще существует")
    else:
        print("Таблица books не существует")
    con.commit()
    con.close()
else:
    print("База данных не существует.")

База данных существует!
Таблица books удалена
Таблица books не существует

Задание 19
Композитный индекс: Создайте композитный индекс для столбцов author и year_published

In [ ]:
import sqlite3
import os

db_file = 'library.db'

if os.path.exists(db_file):
    print("База данных существует!")

    con = sqlite3.connect(db_file)
    cursor = con.cursor()

    create_table_query = '''
    CREATE TABLE IF NOT EXISTS books (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        title TEXT NOT NULL,
        author TEXT NOT NULL,
        year_published INTEGER,
        genre TEXT
    );
    '''

    create_index_query = '''
    CREATE INDEX IF NOT EXISTS idx_author_year ON books(author, year_published);
    '''

    cursor.execute(create_table_query)  
    cursor.execute(create_index_query)  
    con.commit()
    print("Композитный индекс idx_author_year создан")
    con.commit()
    con.close()
else:
    print("База данных не существует.")

База данных существует!
Композитный индекс idx_author_year создан

Задание 20 
Удаление базы данных: Удалите файл library.db, если он существует

In [ ]:
import os

db_file = 'library.db'

if os.path.exists(db_file):
    os.remove(db_file)
    print("База данных library.db удалена")
else:
    print("База данных library.db не существует")